<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-semibold" href="/">PepsiCo Taller</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'ot_dashboard' %}">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'core_agenda' %}">Agenda</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'ingreso_nuevo' %}">Ingresos</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'ot_lista' %}">OTs</a></li>
      </ul>

      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item me-3">
          <span class="text-light small" id="clock"></span>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown">
            {{ request.user.username|capfirst }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow">
            <li><a class="dropdown-item disabled"><i class="bi bi-person"></i> Rol: Admin</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i> Salir</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
